@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 50;
  src: url("./assets/fonts/RobotoSlab-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Slab Slim';
  font-style: normal;
  font-weight: 30;
  src: url("./assets/fonts/RobotoSlab-Regular.ttf"); }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background: white;
  color: #393c45; }

.home {
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1.3;
  background-image: url(./public/images/backgroundDeveloper.png);
  background-size: cover;
  opacity: 0.8;
  display: flex;
  flex-direction: column; }

.secondPartText {
  margin-top: 100vh;
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.secondPartProjects {
  margin-top: 200vh;
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #595959;
  flex-direction: column; }

.experience {
  margin-top: 300vh;
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.contactMe {
  margin-top: 400vh;
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.contact {
  display: flex;
  flex: 0.8;
  background-color: blue;
  text-align: center;
  flex-direction: row;
  justify-content: center; }

.footer {
  display: flex;
  flex: 0.2;
  flex-direction: row;
  background-color: #333333;
  align-items: center; }

.contactEmail {
  display: flex;
  flex: 0.5;
  background-color: #3a6ee8;
  text-align: center;
  align-items: center;
  justify-content: center; }

.contactPlace {
  display: flex;
  flex: 0.5;
  background-color: white; }

.leaflet-container {
  width: 100%;
  height: 100%; }

.leaflet-div-icon {
  background: transparent;
  border: 1px solid transparent; }

.separator {
  width: 30px; }

.name {
  padding-top: 1%;
  padding-left: 2%;
  font-family: 'Roboto Slab';
  color: #f6f7f8;
  font-weight: 5;
  font-size: 0.5em;
  opacity: 0.5;
  display: flex;
  flex: 0.1;
  flex-direction: row;
  opacity: 0.5; }

.iconGithub {
  padding-left: 2%;
  padding-right: 2%;
  color: #f6f7f8;
  opacity: 0.5; }

.iconLinkedin {
  padding-left: 2%;
  padding-right: 2%;
  color: #f6f7f8;
  opacity: 0.5; }

.iconEmail {
  padding-left: 2%;
  padding-right: 2%;
  color: #f6f7f8;
  opacity: 0.5; }

.iconPlay {
  padding-left: 2%;
  padding-right: 2%;
  color: #f6f7f8;
  opacity: 0.5; }

.iconGithubFooter {
  padding-left: 2%;
  padding-right: 2%;
  size: 5px;
  color: #f6f7f8;
  opacity: 0.5; }

.iconPlayShineApple {
  color: black;
  opacity: 0.5; }

.iconPlayShineGoogle {
  color: black;
  opacity: 0.5; }

.iconsShine {
  display: flex;
  flex-direction: row; }

.iconsWork {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  align-items: center;
  flex: 0.5; }

.nameInside {
  padding-top: 1%;
  display: flex;
  flex: 0.5; }

.iconOnly {
  padding: 10px 10px 10px 10px; }

.middleText {
  text-align: center;
  font-size: 5em;
  font-family: 'Roboto Slab';
  color: #bfbfbf; }

.secondPartTitle {
  font-size: 3em;
  font-family: 'Roboto Slab';
  padding-left: 5%;
  padding-right: 5%; }

.thirdPartTitle {
  font-size: 3em;
  font-family: 'Roboto Slab';
  color: white;
  padding-left: 5%;
  padding-right: 5%; }

.colorWhite {
  color: white; }

.secondPartSubtitle {
  font-size: 1.4em;
  font-family: 'Roboto Slab';
  padding-left: 5%;
  padding-right: 5%; }

.secondPartSubtitleGithub {
  font-size: 1.5em;
  font-family: 'Roboto Slab';
  text-decoration: underline; }

.secondPartSubtitleGithub:hover {
  font-size: 1.6em;
  opacity: 0.5;
  cursor: pointer; }

.secondPartSubtitleBold {
  font-size: 1.5em;
  font-family: 'Roboto Slab';
  font-weight: 400; }

.secondPartSubtitleSkills {
  font-size: 1.8em;
  font-family: 'Roboto Slab';
  padding-left: 5%;
  padding-right: 5%; }

#word {
  font-family: 'Roboto Slab Slim';
  color: #ffc84c;
  padding-top: 20px;
  font-weight: 10;
  font-size: 2em; }

.rowText {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  vertical-align: middle;
  max-width: 500px;
  line-height: 90px;
  flex: 0.9; }

.nameTitle {
  color: #ffc84c; }

.firstCol {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  text-align: center;
  justify-content: center; }

.secondCol {
  flex: 0.375;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center; }

.thirdCol {
  flex: 0.375;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center; }

.titleText {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: flex-end;
  text-align: flex-end;
  padding-top: 3%; }

.titleText p {
  display: inline-block;
  vertical-align: top; }

.subtitleText {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; }

.whoIsMarcosText {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #595959;
  flex-direction: column; }

.whoIsMarcosTextMiddle {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center; }

.whoIsMarcosTextDown {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 2px solid #595959;
  flex-direction: column; }

.whoIsMarcosTextHalfRight {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 2px solid #595959; }

.whoIsMarcosTextHalf {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.backpackerProject {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.bombProject {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.ghostProject {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.tableProject {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.textExperience {
  display: flex;
  flex-direction: column;
  flex: 0.5; }

.photosExperience {
  display: flex;
  flex-direction: row;
  flex: 0.5; }

.textExperienceTitle {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.textExperienceTitle p {
  display: inline-block;
  vertical-align: top; }

.textExperienceSubtitle {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }

.photosExperienceFirst {
  display: flex;
  flex: 0.333;
  align-items: center;
  justify-content: center;
  background-color: white; }

.photosExperienceSecond {
  display: flex;
  flex: 0.333;
  align-items: center;
  justify-content: center;
  background-color: white; }

.photosExperienceThird {
  display: flex;
  flex: 0.333;
  align-items: center;
  justify-content: center;
  background-color: white; }

.photosExperienceFourth {
  display: flex;
  flex: 0.333;
  align-items: center;
  justify-content: center;
  background-color: white; }

.imageJobsPrometeo {
  width: 50%;
  padding-bottom: 30px;
  height: 20%; }

.imageJobsCap {
  width: 70%;
  height: 40%; }

.textExperienceTitleP {
  font-size: 3em;
  align-items: center;
  font-family: 'Roboto Slab';
  color: #595959; }

.textExperienceUnderscore {
  font-size: 1em;
  color: #ffc84c; }

.textTitleUnderscore {
  font-size: 1em;
  color: #ffc84c; }

.textExperienceSubtitleP {
  font-size: 1.8em;
  align-items: center;
  font-family: 'Roboto Slab';
  color: #595959;
  padding-left: 5%;
  padding-right: 5%; }

.squareJob p {
  padding-left: 5%;
  padding-right: 5%; }

.contactEmailRectangle {
  width: 60%;
  height: 25%;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.contactEmailP {
  font-size: 3em;
  font-family: 'Roboto Slab';
  color: white; }

.footer p {
  font-size: 1em;
  padding-left: 5%;
  font-family: 'Roboto Slab';
  color: #bfbfbf; }

.iconsWorkFooter {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  padding-bottom: 2%;
  padding-right: 2%;
  justify-content: flex-end; }

.footerNameInside {
  display: flex;
  flex: 0.5; }

.squareJob {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.titleJob {
  font-size: 1.3em;
  font-family: 'Roboto Slab';
  color: black; }

.subtitleJob {
  font-size: 1em;
  font-family: 'Roboto Slab';
  color: black; }

.iconJob {
  color: black;
  opacity: 0.5; }

@media screen and (max-width: 1444px) {
  .secondPartSubtitle {
    font-size: 0.7em; } }

@media screen and (max-width: 1204px) {
  .contactEmailP {
    font-size: xx-large; }
  .secondPartSubtitle {
    font-size: 1em; }
  .middleText {
    font-size: 4em; }
  .name {
    font-size: 0.2em; }
  .imageJobsPrometeo {
    width: 30%;
    height: 20%; }
  .imageJobsCap {
    width: 40%;
    height: 40%; }
  .imageJobsShine {
    width: 15%;
    height: 60%; } }

@media screen and (max-width: 600px) {
  .contactEmailP {
    font-size: xx-large; }
  .secondPartSubtitle {
    font-size: 0.8em; }
  .middleText {
    font-size: 4em; }
  .name {
    font-size: 0.2em; }
  .imageJobsPrometeo {
    width: 30%;
    height: 20%; }
  .imageJobsCap {
    width: 40%;
    height: 40%; }
  .imageJobsShine {
    width: 15%;
    height: 60%; } }
