@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 50;
  src: url("./assets/fonts/RobotoSlab-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Slab Slim';
  font-style: normal;
  font-weight: 30;
  src: url("./assets/fonts/RobotoSlab-Regular.ttf"); }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background: white;
  color: #393c45; }

.home {
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1.3;
  background-image: url(./public/images/backgroundDeveloper.png);
  background-size: cover;
  opacity: 0.8;
  flex-basis: 100%; }

.secondPart {
  margin-top: 100vh;
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.experience {
  margin-top: 200vh;
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #595959;
  display: flex;
  flex-direction: column; }

.contactMe {
  margin-top: 300vh;
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.contact {
  display: flex;
  flex: 0.8;
  background-color: blue;
  text-align: center;
  flex-direction: row;
  justify-content: center; }

.footer {
  display: flex;
  flex: 0.2;
  background-color: #333333;
  align-items: center; }

.contactEmail {
  display: flex;
  flex: 0.5;
  background-color: #3a6ee8;
  text-align: center;
  align-items: center;
  justify-content: center; }

.contactPlace {
  display: flex;
  flex: 0.5;
  background-color: white; }

.leaflet-container {
  width: 100%;
  height: 100%; }

.leaflet-div-icon {
  background: transparent;
  border: 1px solid transparent; }

.separator {
  width: 30px; }

.name {
  padding-top: 1%;
  left: 1%;
  font-family: 'Roboto Slab Slim';
  color: #f6f7f8;
  font-weight: 5;
  font-size: 0.5em;
  position: absolute;
  opacity: 0.5; }

.iconGithub {
  padding-left: 5%;
  padding-right: 5%;
  color: #f6f7f8;
  opacity: 0.5; }

.iconLinkedin {
  padding-left: 5%;
  padding-right: 5%;
  color: #f6f7f8;
  opacity: 0.5; }

.iconEmail {
  padding-left: 5%;
  padding-right: 5%;
  color: #f6f7f8;
  opacity: 0.5; }

.iconPlay {
  color: #f6f7f8;
  opacity: 0.5; }

.iconPlayShineApple {
  color: black;
  opacity: 0.5; }

.iconPlayShineGoogle {
  color: black;
  opacity: 0.5; }

.iconsShine {
  display: flex;
  flex-direction: row; }

.iconsWork {
  padding-top: 1%;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  width: '60%';
  left: 80%;
  position: absolute; }

.iconOnly {
  padding: 10px 10px 10px 10px; }

.middleText {
  text-align: center;
  font-size: 5em;
  font-family: 'Roboto Slab';
  color: #bfbfbf; }

.secondPartTitle {
  font-size: 3em;
  font-family: 'Roboto Slab';
  padding-left: 5%;
  padding-right: 5%; }

.secondPartSubtitle {
  font-size: 1.2em;
  font-family: 'Roboto Slab';
  padding-left: 5%;
  padding-right: 5%; }

#word {
  font-family: 'Roboto Slab Slim';
  color: #ffc84c;
  padding-top: 20px;
  font-weight: 10;
  font-size: 2em; }

.rowText {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  vertical-align: middle;
  max-width: 500px;
  line-height: 90px; }

.nameTitle {
  color: #ffc84c; }

.firstCol {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  text-align: center;
  justify-content: center; }

.secondCol {
  flex: 0.375;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center; }

.thirdCol {
  flex: 0.375;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center; }

.titleText {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: flex-end;
  text-align: flex-end;
  padding-top: 3%; }

.titleText p {
  display: inline-block;
  vertical-align: top; }

.subtitleText {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; }

.backpackerProject {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.bombProject {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.ghostProject {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.tableProject {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.textExperience {
  display: flex;
  flex-direction: column;
  flex: 0.5; }

.photosExperience {
  display: flex;
  flex-direction: row;
  flex: 0.5; }

.textExperienceTitle {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.textExperienceTitle p {
  display: inline-block;
  vertical-align: top; }

.textExperienceSubtitle {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }

.photosExperienceFirst {
  display: flex;
  flex: 0.333;
  align-items: center;
  justify-content: center;
  background-color: white; }

.photosExperienceSecond {
  display: flex;
  flex: 0.333;
  align-items: center;
  justify-content: center;
  background-color: white; }

.photosExperienceThird {
  display: flex;
  flex: 0.333;
  align-items: center;
  justify-content: center;
  background-color: white; }

.imageJobs {
  opacity: 0.5; }

.textExperienceTitleP {
  font-size: 3em;
  align-items: center;
  font-family: 'Roboto Slab';
  color: white; }

.textExperienceUnderscore {
  font-size: 1em;
  color: #ffc84c; }

.textTitleUnderscore {
  font-size: 1em;
  color: #ffc84c; }

.textExperienceSubtitleP {
  font-size: 1.2em;
  align-items: center;
  font-family: 'Roboto Slab';
  color: white;
  padding-left: 5%;
  padding-right: 5%; }

.squareJob p {
  padding-left: 5%;
  padding-right: 5%; }

.contactEmailRectangle {
  width: 60%;
  height: 25%;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.contactEmailP {
  font-size: 3em;
  font-family: 'Roboto Slab';
  color: white; }

.footer p {
  font-size: 1em;
  padding-left: 5%;
  font-family: 'Roboto Slab';
  color: #bfbfbf; }

.iconsWorkFooter {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  width: '70%';
  left: 90%;
  position: absolute; }

.squareJob {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.titleJob {
  font-size: 1.3em;
  font-family: 'Roboto Slab';
  color: black; }

.subtitleJob {
  font-size: 1em;
  font-family: 'Roboto Slab';
  color: black; }

.iconJob {
  color: black;
  opacity: 0.5; }

@media screen and (max-width: 1204px) {
  .contactEmailP {
    font-size: xx-large; }
  .middleText {
    font-size: 4em; } }
